{% extends 'base.html.twig' %}

{% block title %}Couleurs{% endblock %}

{% block body %}
	<h1>Liste des couleurs</h1>

	<a href="{{ path('couleur_new') }}">Ajouter une couleur</a>

	<div>
		<input id="search_input" type="text" placeholder="rechercher une couleur">
		<button id="search_btn" type="button" onclick='searchItems()'>rechercher</button>
		<button hidden id="clear_btn" type="button" onclick="searchClear()">Afficher tout</button>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Code</th>
				<th>Nom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for couleur in couleurs %}
				<tr>
					<td>{{ couleur.codecouleur }}</td>
					<td>{{ couleur.nomcouleur }}</td>
					<td>
						<a href="{{ path('couleur_edit', {'codecouleur': couleur.codecouleur}) }}">
							<i class="fas fa-pen"></i>
						</a>
					</td>
					<td>
						{{ include('references/couleur/_delete_form.html.twig') }}
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="3">Pas de résultats</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/searchBar.js') }}"></script>
{% endblock %}
