{% extends 'base.html.twig' %}

{% block title %}Vin{% endblock %}

{% block body %}
    <h1>Vin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Codevin</th>
                <td>{{ vin.codevin }}</td>
            </tr>
            <tr>
                <th>NomCuvee</th>
                <td>{{ vin.nomCuvee }}</td>
            </tr>
            <tr>
                <th>TypeDeCulture</th>
                <td>{{ vin.typeDeCulture }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ vin.commentaires }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vin_index') }}">back to list</a>

    <a href="{{ path('vin_edit', {'codevin': vin.codevin}) }}">edit</a>

    {{ include('vin/_delete_form.html.twig') }}
{% endblock %}
