<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('css/style.css') }}"> {% block javascripts %}{% endblock %}
		</head>
		<body>
			<div class="container">
				<nav>
					<a class="home" href="{{ path('home') }}">HOME</a>
						<a href="{{ path('vin_index') }}">Les vins</a><br>
						<a class="headMenu" href="{{ path('references') }}">Les références</a>
						<div class="subMenu">
							<a href="{{ path('appellation_index') }}">Appellation</a>
							<a href="{{ path('cepage_index') }}">Cepage</a>
							<a href="{{ path('couleur_index') }}">Couleur</a>
							<a href="{{ path('millesime_index') }}">Millesime</a>
							<a href="{{ path('pays_index') }}">Pays</a>
							<a href="{{ path('region_index') }}">Région</a>
						</div>
						<a href="{{ path('food_wine_pairings') }}">Les accords mets/vins</a>
						<a href="{{ path('inventory') }}">Les stocks</a>
				</nav>
				<div class="content"> {% block body %}{% endblock %}
					</div>
				</div>
			</body>
		</html>
